<a href="https://colab.research.google.com/github/KIDALIH/PYTHON-BASICS/blob/main/index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Lists - Lab

## Introduction

Now that we have a sense of how to read from a list and alter a list in Python, let's put this knowledge to use.

## Objectives

You will be able to:

* Use indexing to access elements in a list
* Apply list methods to make changes to a list
* Change elements of a list

## Instructions

In the previous lesson, we had a list of top travel cities.

In [ ]:
top_travel_cities = ['Solta', 'Greenville', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley', 'Marakesh', 'Albuquerque', 'Archipelago Sea', 'Iguazu Falls', 'Salina Island', 'Toronto', 'Pyeongchang']

> Remember to press shift+enter to run each gray block of code (including the one above).  Otherwise, the variables will not be defined.

In this lab we will work with a list of associated countries corresponding to each of the top travel cities.

In [14]:
countries = ['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea']

> Run the code in the cell above by pressing shift + enter.

The list of countries associated with each city has been assigned to the variable `countries`.  Now we will work with this list.

## Accessing elements from lists

First, set the variable `italy` to be equal to the third to last element from `countries`.  
>**Note:** If you see an **error** stating that `countries` is undefined, it means you must press shift+enter in the second gray box where `countries` variable is assigned.

In [3]:
italy = None # 'Italy'
italy = countries[-3]
print(italy)

Italy

> We assigned the varible `italy` equal to `None`, but you should change the word `None` to code that uses the `countries` list to assign `italy` to `'Italy'`.  We wrote the variable `italy` a second time, so that you can see what it contains when you run the code block.  Currently, nothing is displayed below as it equals `None`, but when it's correct it will match the string which is commented out, `'Italy'`.

In [ ]:
italy # 'Italy'

Now access the fourth element and set it equal to the variable `mexico`.

In [7]:
mexico = None
mexico = countries[3]
print(mexico)

Mexico

Notice that the second through fifth elements are all in a row and all in the Western Hemisphere.  Assign that subset of elements to a variable called `kindof_neighbors`.

In [9]:
kindof_neighbors = None
kind_of_neighbors = countries[1:5]
print(kind_of_neighbors)

['USA', 'Argentina', 'Mexico', 'USA']

## Changing Elements

Ok, now let's add a couple of countries onto this list.  At the end of the list, add the country 'Malta'.

In [15]:

countries.append('Malta')
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta']

Then add the country 'Thailand'.

In [16]:
countries.append('Thailand')
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta', 'Thailand']

Now your list of countries should look like the following.

In [ ]:
countries
# ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland',
# 'Argentina', 'Italy',  'Canada', 'South Korea',  'Malta',  'Thailand']

You may have noticed that "New Mexico" is included in our list of countries.  That doesn't seem right.  Let's change 'New Mexico' to 'USA'.

In [17]:
countries[6]='USA'
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta', 'Thailand']

In [ ]:
countries
# ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland',
# 'Argentina', 'Italy',  'Canada', 'South Korea',  'Malta',  'Thailand']

Finally, let's remove Thailand from the list.  No good reason, we're acting on whimsy.

In [19]:
countries.pop(-1)
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea']

In [20]:
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea']

## Exploring Lists with Methods

Ok, now we notice that some countries are mentioned more than once.  Let's see how many repeat countries are on this list.  

First, use the `set` and `list` functions to return a unique list of countries.  Set this list equal to the variable `unique_countries`.

In [22]:
unique_countries = set(countries)
print(unique_countries)

{'Italy', 'South Korea', 'Croatia', 'Morocco', 'Finland', 'Mexico', 'Canada', 'USA', 'Argentina'}

In [23]:
unique_countries # ['Canada', 'Italy', 'USA', 'Mexico', 'Finland',
#'Malta', 'Morocco', 'Croatia', 'Argentina', 'South Korea']

{'Argentina',
 'Canada',
 'Croatia',
 'Finland',
 'Italy',
 'Mexico',
 'Morocco',
 'South Korea',
 'USA'}

Now the number of repeat countries should be the number of countries minus the number of unique countries.  So use the `len` function on both `unique_countries` and `countries` to calculate this and assign the result to the variable `num_of_repeats`.

In [24]:
num_of_repeats = len(countries) - len(unique_countries)
print(num_of_repeats)
num_of_repeats # 3

3

3

## Summary

In this lesson, we practiced working with lists in Python. We saw how to index lists to select specific elements, how to use list methods to change lists, and how to add and remove elements from a list. Finally, we saw how to use a set to calculate the number of unique elements in the list.